:root {
  --smoke: #f5f5f5;
  --gray: #4f4752;
  --orange: #df8126;
  --row: rgba(223, 129, 38, 0.1);
  --rust: #934f0c;
  --font-size: calc(12px + 0.5vw);
}

html,
body {
  height: auto;
  margin: 1em 1em;
  padding: 0;
  font-family: Quicksand, sans-serif;
  font-size: var(--font-size);
  color: var(--gray);
  background-color: var(--smoke);
}

h1 {
  color: var(--gray);
  font-size: calc(20px + 2vw);
  font-weight: 700;
}

h2 {
  color: var(--gray);
  font-size: calc(18px + 1vw);
  font-weight: 700;
}

hr {
  border: 1px solid var(--gray);
}

hgroup {
  margin-bottom: 4vh;
}

table {
  padding: 0 4vh 4vh 0;
  border-spacing: 0;
  width: 100%;
}

th {
  font-weight: bold;
  text-align: left;
  font-size: var(--font-size);
  padding-left: 0.7vw;
}

tbody > tr:nth-child(odd) {
  background-color: var(--row);
}

.buttons {
  text-align: right;
  width: 100%;
}

button {
  color: white;
  padding: 1.5vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--font-size);
  background-color: var(--smoke);
  color: var(--rust);
  border-color: var(--orange);
  border-radius: 4px;
  margin-right: 1vw;
}

.build {
  background-color: var(--rust);
  border-color: var(--rust);
  color: var(--smoke);
  border-radius: 4px;
}

#domain_options,
#word_options {
  padding-bottom: 1.5vh;
}

#domain_options {
  margin-top: 8vw;
  display: none;
}

#status {
  color: blue;
  font-size: var(--font-size);
  height: 1vw;
}

.checkbox {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  margin-left: 0.2vw;
}

.checkbox > span {
  color: #34495e;
  padding: 0.75rem 0.25rem;
}
input {
  margin: 0 0.75vw;
}

input[type="text"] {
  font-family: Quicksand, sans-serif;
  font-size: calc(12px + 0.5vw);
  width: 25vw;
}

input[type="text"],
input[type="checkbox"] {
  height: 25px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.checkbox > input {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.checkbox > input:checked {
  border: 1px solid var(--gray);
  background-color: var(--gray);
}

.checkbox > input:checked + span::before {
  text-align: center;
  color: var(--smoke);
}

.checkbox > input:active {
  border: 2px solid #34495e;
}
